# Data Science Tools and Ecosystem

In this notebook, Data Science Tools and Ecosystem are summarized.

**Objectives:**
List popular languages for Data Science:
- Python
- R
- SQL
- Java
- C++
- Scala

some of the popular languages that Data Scientists use are:

1. Python
2. R
3. SQL
4. Java

Some of the commonly used libraries used by Data Scientists include:

1. Pandas
2. Numpy
3. Scikit-learn
4. Matplotlib

| Data Science Tools |
| ----------------- |
| Python | R | SQL |
| Java | C++ | Scala |
| Julia | Matlab | RStudio |

### Below are a few examples of evaluating arithmetic expressions in Python

In [7]:
(3*4)+5
# This a simple arithmetic expression to mutiply then add integers

17

### Converts minutes to hours

In [8]:
minute=200
hour=minute/60
print(hour)
# This will convert 200 minutes to hours by diving by 60

3.3333333333333335

## Author
Abdul Samad